# requirements.txt

# General
Flask==0.12
Django==4.0.4

# Data analysis
pandas==1.5.3
numpy==1.23.3

# Machine Learning
scikit-learn==1.1.2
tensorflow==2.10.0

# Database
sqlalchemy==1.4.39
psycopg2==2.9.3

# Testing
pytest==7.1.2
unittest==0.0.1

# Development tools
black==22.3.0
flake8==4.0.1
